* {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(190, 0, 0);
}

main {
    width: 1440px;
    display: flex;
    flex-direction: column;
}

header {
    width: 1357px;
    height: 34.416px;
    padding: 31.9px 43px 4.7px 40px;
    
}

#section_chamada {
    display: flex;                  
    justify-content: space-between;  
    gap: 10px;                       
    flex-wrap: nowrap;               
    margin: 3rem 0;                 
    padding: 0 1rem;                 
}

.div_chamada {
    background-color: #000;         
    color: #fff;                    
    width: calc(25% - 10px);         
    padding: 1rem;
    display: flex;                  
    flex-direction: column;         
    align-items: center;                     
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    margin-bottom: 0;               
}

.div_chamada h3 {
    font-size: 1.2rem;             
    margin-bottom: 0.5rem;          
}

.div_chamada button {
    background-color:black;      
    color: #fff;                   
    border: none;                   
    padding: 0.5rem 1rem;          
    cursor: pointer;                
    margin-bottom: 0.75rem;        
    text-transform: uppercase;                     
}


.div_chamada button:hover {
    background-color: #e03c47;      
}

.div_chamada img {
    width: 100%;                    
    height: auto;                            
    margin-top: 0;                  
}
